.App{
    display: grid;
    grid-template: 100vh/1fr 3fr;
    grid-template-areas: "input output";
}
.input{
    grid-area: input;
    background: #F8F0DF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
input{
    background: transparent;
    outline: none;
    border: 0;
    width: 14rem;
    border-bottom: 1px solid #9D9D9D;
    font-size: 15px;
    color: #37474F;
    font-family: 'Josefin Sans', sans-serif;
}
.output{
    grid-area: output;
    background: #FEFBF3;
    overflow-y: scroll;

}
.button--du{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
img{
    border-radius: 100%;
    object-fit: cover;
}
.img--card{
    width: 5rem;
    height: 5rem;
    border: 1px solid #F8F0DF;
    margin-right: 10px;
}
.img--fix{
    width: 10rem;
    height: 10rem;
}
.img--input{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #263238;
}
.titleSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.buttonForm{
    width: 8rem;
    height: 2rem;
    border: 0;
    color:#37474F ;
    background: #79B4B7;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}
.buttonForm:hover,button:hover{
    background: #FEFBF3;
}
button{
    width: 5rem;
    height: 1.5rem;
    border: 0;
    background: #F8F0DF;
    color: #37474F;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
}
button:first-child{
    margin-bottom: 5px;
}
h1{
    color: #37474F;
}
@media screen and (max-width: 426px){
    .App{
        grid-template:1fr 1fr/auto;
        grid-template-areas:"output"
                             "input";
    }
    .button--du{
        flex-direction: row;
        margin-top: 10px;
    }
    button:first-child{
        margin-right: 5px;
    }
    .titleSearch{

        flex-direction: column;
        align-items: center;
    }
}
